# npm
node_modules/

# yarn: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.pnp.*

# log files
*.log

# config, dotenv (secrets)
.env
gkey.json

# database
database_datas